.panda-bg{
    background-color: #feeae9 !important;
}
.panda-bag{
    background-color: #ff4a92;
}
body{
    font-family: 'Poppins', sans-serif;
}
.pheit{
    height: 100px;
}
.noHover{
    pointer-events: none;
    padding: 15px 20px;
    font-size: 16px;
}
.touch-text input:focus{
    outline: none;
}
.touch-text input{
    padding: 16px 20px;
    font-size: 16px;
}
@media (min-width: 577px) and (max-width:768px) { 
    .slider_img{
        margin-bottom: 15px;
    }
 }


@media (min-width: 1px) and (max-width:576px) { 
    .flex-dirr{
        display: flex;
        flex-direction: column-reverse;
    }
    .slider_img{
        margin-bottom: 15px;
    }
    .noHover{
    pointer-events: none;
    padding: 9px 10px;
    font-size: 12px;
}
.touch-text input:focus{
    outline: none;
}
.touch-text input{
    padding: 10px 15px;
    font-size: 12px;
}
 }